<a href="https://colab.research.google.com/github/Harshavardhan912/hellll/blob/main/extra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/diazoniclabs/Machine-Learning-using-sklearn/master/Datasets/Mall_Customers.csv')
df

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [ ]:
#I just want to know ,how many people have puchased and how many have not purchased
df['Spending Score (1-100)'].value_counts()

42    8
55    7
46    6
73    6
35    5
     ..
31    1
44    1
53    1
65    1
18    1
Name: Spending Score (1-100), Length: 84, dtype: int64

In [ ]:
#divide the data into i/p and o/p
#df.iloc[rows,cols]
# x is 2 dimensional
x = df.iloc[:,2:4].values
x

array([[ 19,  15],
       [ 21,  15],
       [ 20,  16],
       [ 23,  16],
       [ 31,  17],
       [ 22,  17],
       [ 35,  18],
       [ 23,  18],
       [ 64,  19],
       [ 30,  19],
       [ 67,  19],
       [ 35,  19],
       [ 58,  20],
       [ 24,  20],
       [ 37,  20],
       [ 22,  20],
       [ 35,  21],
       [ 20,  21],
       [ 52,  23],
       [ 35,  23],
       [ 35,  24],
       [ 25,  24],
       [ 46,  25],
       [ 31,  25],
       [ 54,  28],
       [ 29,  28],
       [ 45,  28],
       [ 35,  28],
       [ 40,  29],
       [ 23,  29],
       [ 60,  30],
       [ 21,  30],
       [ 53,  33],
       [ 18,  33],
       [ 49,  33],
       [ 21,  33],
       [ 42,  34],
       [ 30,  34],
       [ 36,  37],
       [ 20,  37],
       [ 65,  38],
       [ 24,  38],
       [ 48,  39],
       [ 31,  39],
       [ 49,  39],
       [ 24,  39],
       [ 50,  40],
       [ 27,  40],
       [ 29,  40],
       [ 31,  40],
       [ 49,  42],
       [ 33,  42],
       [ 31,  43],
       [ 59,  43],
       [ 50,  43],
       [ 47,  43],
       [ 51,  44],
       [ 69,  44],
       [ 27,  46],
       [ 53,  46],
       [ 70,  46],
       [ 19,  46],
       [ 67,  47],
       [ 54,  47],
       [ 63,  48],
       [ 18,  48],
       [ 43,  48],
       [ 68,  48],
       [ 19,  48],
       [ 32,  48],
       [ 70,  49],
       [ 47,  49],
       [ 60,  50],
       [ 60,  50],
       [ 59,  54],
       [ 26,  54],
       [ 45,  54],
       [ 40,  54],
       [ 23,  54],
       [ 49,  54],
       [ 57,  54],
       [ 38,  54],
       [ 67,  54],
       [ 46,  54],
       [ 21,  54],
       [ 48,  54],
       [ 55,  57],
       [ 22,  57],
       [ 34,  58],
       [ 50,  58],
       [ 68,  59],
       [ 18,  59],
       [ 48,  60],
       [ 40,  60],
       [ 32,  60],
       [ 24,  60],
       [ 47,  60],
       [ 27,  60],
       [ 48,  61],
       [ 20,  61],
       [ 23,  62],
       [ 49,  62],
       [ 67,  62],
       [ 26,  62],
       [ 49,  62],
       [ 21,  62],
       [ 66,  63],
       [ 54,  63],
       [ 68,  63],
       [ 66,  63],
       [ 65,  63],
       [ 19,  63],
       [ 38,  64],
       [ 19,  64],
       [ 18,  65],
       [ 19,  65],
       [ 63,  65],
       [ 49,  65],
       [ 51,  67],
       [ 50,  67],
       [ 27,  67],
       [ 38,  67],
       [ 40,  69],
       [ 39,  69],
       [ 23,  70],
       [ 31,  70],
       [ 43,  71],
       [ 40,  71],
       [ 59,  71],
       [ 38,  71],
       [ 47,  71],
       [ 39,  71],
       [ 25,  72],
       [ 31,  72],
       [ 20,  73],
       [ 29,  73],
       [ 44,  73],
       [ 32,  73],
       [ 19,  74],
       [ 35,  74],
       [ 57,  75],
       [ 32,  75],
       [ 28,  76],
       [ 32,  76],
       [ 25,  77],
       [ 28,  77],
       [ 48,  77],
       [ 32,  77],
       [ 34,  78],
       [ 34,  78],
       [ 43,  78],
       [ 39,  78],
       [ 44,  78],
       [ 38,  78],
       [ 47,  78],
       [ 27,  78],
       [ 37,  78],
       [ 30,  78],
       [ 34,  78],
       [ 30,  78],
       [ 56,  79],
       [ 29,  79],
       [ 19,  81],
       [ 31,  81],
       [ 50,  85],
       [ 36,  85],
       [ 42,  86],
       [ 33,  86],
       [ 36,  87],
       [ 32,  87],
       [ 40,  87],
       [ 28,  87],
       [ 36,  87],
       [ 36,  87],
       [ 52,  88],
       [ 30,  88],
       [ 58,  88],
       [ 27,  88],
       [ 59,  93],
       [ 35,  93],
       [ 37,  97],
       [ 32,  97],
       [ 46,  98],
       [ 29,  98],
       [ 41,  99],
       [ 30,  99],
       [ 54, 101],
       [ 28, 101],
       [ 41, 103],
       [ 36, 103],
       [ 34, 103],
       [ 32, 103],
       [ 33, 113],
       [ 38, 113],
       [ 47, 120],
       [ 35, 120],
       [ 45, 126],
       [ 32, 126],
       [ 32, 137],
       [ 30, 137]])

In [ ]:
#y is one diemnsional
y = df.iloc[:,4].values
y

array([39, 81,  6, 77, 40, 76,  6, 94,  3, 72, 14, 99, 15, 77, 13, 79, 35,
       66, 29, 98, 35, 73,  5, 73, 14, 82, 32, 61, 31, 87,  4, 73,  4, 92,
       14, 81, 17, 73, 26, 75, 35, 92, 36, 61, 28, 65, 55, 47, 42, 42, 52,
       60, 54, 60, 45, 41, 50, 46, 51, 46, 56, 55, 52, 59, 51, 59, 50, 48,
       59, 47, 55, 42, 49, 56, 47, 54, 53, 48, 52, 42, 51, 55, 41, 44, 57,
       46, 58, 55, 60, 46, 55, 41, 49, 40, 42, 52, 47, 50, 42, 49, 41, 48,
       59, 55, 56, 42, 50, 46, 43, 48, 52, 54, 42, 46, 48, 50, 43, 59, 43,
       57, 56, 40, 58, 91, 29, 77, 35, 95, 11, 75,  9, 75, 34, 71,  5, 88,
        7, 73, 10, 72,  5, 93, 40, 87, 12, 97, 36, 74, 22, 90, 17, 88, 20,
       76, 16, 89,  1, 78,  1, 73, 35, 83,  5, 93, 26, 75, 20, 95, 27, 63,
       13, 75, 10, 92, 13, 86, 15, 69, 14, 90, 32, 86, 15, 88, 39, 97, 24,
       68, 17, 85, 23, 69,  8, 91, 16, 79, 28, 74, 18, 83])

In [ ]:
#train ,test and split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [ ]:

print(x.shape)# - 400 rows and 2 cols - 100%
print(x_train.shape)#300 rows and 2 cols - 75%
print(x_test.shape)#100 rows and 2 cols - 25%

(200, 2)
(150, 2)
(50, 2)

In [ ]:
print(y.shape)# - 400 rows and 1 cols - 100%
print(y_train.shape)#300 rows and 1 cols - 75%
print(y_test.shape)#100 rows and 1 cols - 25%

(200,)
(150,)
(50,)

In [ ]:
#SCALING OR NORMALIZATION - DONE ONLY FOR INPUTS
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [ ]:
#Apply CLASSIFIER,REGRESSOR or CLUSTERER
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [ ]:
#fit the model
model.fit(x_train,y_train)

LogisticRegression()

In [ ]:
#predictor variable/predict the output
y_pred = model.predict(x_test)
y_pred   #predicted output values

array([55, 42, 55, 55, 42, 42, 42, 55, 55, 42, 42, 42, 42, 55, 55, 42, 42,
       42, 42, 55, 42, 42, 42, 42, 55, 42, 42, 42, 42, 55, 42, 42, 42, 42,
       42, 42, 42, 42, 42, 55, 42, 42, 42, 42, 42, 55, 55, 42, 55, 42])

In [ ]:

y_test # output values

array([29, 13, 46, 42, 69, 15, 76, 36, 15, 20, 55, 77, 32, 16, 51, 94, 92,
        9, 73, 47, 88, 97, 65, 73, 56, 91, 90, 97, 58, 28, 35, 41, 17, 54,
        5, 85, 75, 40, 44, 50,  5, 50, 32, 46, 27, 59,  3, 54, 43, 87])

In [ ]:
#to check the accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)* 100

0.0